/*
* This configuration file is main one. This includes the pipeline parameters
* and different config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"

process {
    // indicates the default container to be used if not defined within the modules
    container = 'ferriolcalvet/geneid-fetching:latest'

    // custom container options in case you use docker for mapping the users and avoid docker writing files as root
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}

    // ***********
    // NOT SURE ABOUT THE IMPACT OF THIS CHANGE
    // personalize shell execution, done for avoiding errors in grep
    // ***********
    shell = ['/bin/bash','-u']



}

// indicates where to write the singularity images if you choose to use this container
singularity.cacheDir = "./singularity"

// this should help in removing the "work" directory after the processes have finished successfully
//cleanup = true

// define different profiles
profiles {
    standard {
   	    includeConfig 'conf/standard.config'
    }
    hpc_sge {
        includeConfig 'conf/sge.config'
    }
    hpc_slurm {
        includeConfig 'conf/slurm.config'
    }
    cloud {
        includeConfig 'conf/awsbatch.config'
    }
    retry {
        includeConfig 'conf/retry_example.config'
    }
}
