params {
	genome			= "$projectDir/data/SampleGenomeSmall.fa.gz"
	prot_file		= "$projectDir/data/SampleProtein.fa.gz"
	param_f			= "$projectDir/data/human3iso.sgp.Hs-Mm_NEW.param"
	output			= "$projectDir/output"

	match_score_min = 200
	match_ORF_min 	= 100

	intron_margin = 40

	min_intron_size = 0
	max_intron_size = 10000

	no_score		= -0.40

	site_factor	= 1.51483
	exon_factor = 1.37056
	hsp_factor  = 0.19
	exon_weight	= -12

	min_intron_size	= 20
	max_intron_size	= 40000

	start_pwm 		= "$projectDir/data/param-sections/start_profile.human"
	acceptor_pwm	= "$projectDir/data/param-sections/acceptor_profile.human"
	donor_pwm			= "$projectDir/data/param-sections/donor_profile.human"
	stop_pwm			= "$projectDir/data/param-sections/stop_profile.human"

	initial_probability_matrix		= "$projectDir/data/param-sections/initial_probability_matrix.human"
	transition_probability_matrix	= "$projectDir/data/param-sections/transition_probability_matrix.human"
}
