params {
	ENA_project_name = "PRJEB40665"
	genome					= "$projectDir/data/SampleGenomeSmallMatches.fa.gz"
	prot_file				= "$projectDir/data/SampleProtein.fa.gz"
	hsp_filee				= "$projectDir/data/SampleGenomeSmall.SampleProtein.hsp.gff"
	species					= "Tetraodon_nigroviridis"
	param_f					= "$projectDir/data/human3iso.param"
	output          = "$projectDir/output"
}
