params {
	genome			= "$projectDir/data/SampleGenomeSmall.fa.gz"
	output			= "$projectDir/output"
	taxid				= "35525"

	prot_file 	= "none"
	acceptor_pwm 	= "none"

	parameter_path = "$projectDir/data/Parameter_files.taxid/"

	maps_param_values = [
												"no_score"		: -0.10
												]


	proteins_lower_lim = 90000
  proteins_upper_lim = 130000

	general_gene_params = "$projectDir/data/general_gene_model.param"

	match_score_min = 300
	match_ORF_min 	= 100

	intron_margin = 40

	min_intron_size = 20
	max_intron_size = 10000

	source_uniprot = 1
}
