/*
* This configuration file is the one used when indicating the Nextflow parameter -profile cloud
*/

// Here we define some AWS parameters like the region and the aws executables 
aws.region = 'eu-west-1'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

// Please change those values with the ones we provided you for accessing the cloud
aws.accessKey = 'ACCESSKEY'
aws.secretKey = 'SECRETKEY'


// Here we used as and work directory for intermediate files the S3 bucket
workDir = 's3://nf-elixir/scratch'

process {
    // definition of the awsbatch executor. Run the pipeline in a AWS node able to submit jobs via batch submission
    executor = 'awsbatch'

    // definition of the default queue name. 
    queue = 'nextflow-ci'

    // resources for default process execution
    memory='1G'
    cpus='1'
    time='6h'

       // resources for execution of processes / modules with the label "two cpus". This override the default ones.
       withLabel: 'twocpus' {
          memory='0.6G'
          cpus='2'
       }
}
