/*
* This configuration file is the one used when indicating the Nextflow parameter -profile hpc_sge
*/

process { 
    // definition of the SGE executor. Run the pipeline in a node able to submit jobs to a HPC via qsub
    executor="SGE"       

    // definition of the default queue name. 
    queue = "smallcpus"

    // resources for default process execution
    memory='1G'
    cpus='1'
    time='6h'
    
        
       // resources for execution of processes / modules with the label "two cpus". This override the default ones.
        withLabel: 'twocpus' {
           queue = "bigcpus"
           memory='4G'
           cpus='2'
       }   

} 
