/*
* This configuration file is the one used when indicating the Nextflow parameter -profile hpc_sge
*/

process {
    // definition of the SGE executor. Run the pipeline in a node able to submit jobs to a HPC via qsub

    // resources for default process execution
    memory='5G'
    cpus='1'
    time='1h'

        withLabel: 'singlecpu' {
            memory='3G'
            cpus='1'
            time='1h'
        }

        withLabel: 'fourcpus' {
            memory='20G'
            cpus='4'
            time='2h'
        }

}
