/*
* This configuration file is the default one used by the pipeline
*/

process {
    // definition of the local executor. Run the pipeline in the current computer.
    executor="local"

    // resources for default process execution
    memory='5G'
    cpus='1'
    time='1h'

        withLabel: 'singlecpu' {
            memory='3G'
            cpus='1'
            time='1h'
        }

        withLabel: 'fourcpus' {
            memory='20G'
            cpus='4'
            time='2h'
        }
}
